* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: rgb(71, 2, 2);
  }

table {
    margin-top: 50px;
}

table, th, td {
    border: 2px solid maroon;
    padding: 20px;
    background-color: bisque;
  }

   ul>li {
    display:inline;
    justify-content:space-evenly;
    margin-top: 50px;
    padding: 30px;
    text-decoration: none;
}

li a {
  text-decoration: none;
  color: bisque;
  font-size: 1em;
}

a:hover {
  background-color: rgb(112, 6, 13);
}